/*===GENERAL===*/
body
{
	background-color:#c0c0c0;
}
/*===PAGE===*/
#page
{
	background-color:#ffffff;
}
/*===HEADER===*/
#header
{
	padding:15px;
}
#logo 
{
	float:left;
	cursor:pointer;
}
#menu
{
	margin-top:22px;
	float:left;
	width:645px;
	height:40px;
	background-image:url('../images/design2/menu_bgr.png');	
	background-repeat:no-repeat;
}
#menu ul 
{
	float:right;
	list-style-type:none;
	margin-top:9px;
	margin-right:20px;
}
#menu ul li
{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:italic;
	font-size:9pt;
	float:left;
	margin-left:30px;
}
#menu ul li a
{
	color:#3e3e3e;
	text-decoration:none;
}
#menu ul li a:hover
{
	text-decoration:underline;
}
#menu ul li a.active
{
	color:#ffffff;
}
/*===SLIDESHOW===*/
#slideshow
{	
	position:relative;
	width:950px;
	height:363px;
	background-image:url('../images/design2/lcd_screen.png');
	background-repeat:no-repeat;
	margin:30px 0;
}
#left-scr
{
	position:absolute;
	top:95px;
	left:40px;
	width:217px;
	height:174px;
	background-color:Fuchsia;
	display:none;
}
#center-scr
{
	position:absolute;
	top:13px;
	left:270px;
	width:417px;
	height:264px;
	background-color:Aqua;
	display:none;
}
#right-scr
{
	position:absolute;
	top:96px;
	right:29px;
	width:223px;
	height:173px;
	background-color:Fuchsia;
	display:none;
}
/*===CONTENT===*/
#content
{
	width:950px;
	padding-left:30px;
}
#content .top-border
{
	height:33px;
	background-image:url('../images/design2/content_top.png');
	background-repeat:no-repeat;
}
#content .repeat-y-border
{	
	background-image:url('../images/design2/content_1px.png');
	background-repeat:repeat-y;
	padding-top:10px;
	padding-left:24px;
	padding-bottom:15px;
	padding-right:24px;
}
#content .bottom-border
{
	height:33px;
	background-image:url('../images/design2/content_bottom.png');
	background-repeat:no-repeat;
}
#left-col
{
	
}
#left-col .row-sep
{
	height:1px;
	background-color:#d8d8d8;
	margin-top:7px;
	margin-bottom:10px;
	margin-left:80px;
}
#left-col .row-img
{
	text-align:center;
}
#left-col .row-content
{
		
}
#right-col
{
	padding
	width:350px;
}
/*===FOOTER===*/
#footer
{	
	height:34px;
	background-image:url('../images/design2/footer.png');
	text-align:center;
}
#copyright
{
	padding-top:10px;
}