#company-info img 
{
	margin-left:50px;
	margin-top:70px;
}
#content .button
{
	width:102px;
	height:35px;
	background-image:url('../images/design2/button-bgr.png');
	border:none;
	color:#ffffff;
	
}
#content .button:hover
{
	background-image:url('../images/design2/button-bgr-hover.png');
}
#contact-form
{
	border-left:solid 1px #d8d8d8; 
	padding-left:50px;
}
#contact-form #info
{
	text-align:right;
}
#contact-form table
{
	border:solid 1px #d8d8d8;
}